{% extends 'base.html' %}
{% block content %}
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <p>Do you really want to delete this?</p>
        <button>Delete</button>
    </form>
</main>
{% endblock content %}