{% extends 'base.html' %}

{% block content %}

<main>
    <h1>My List</h1>
    <a href="{% url 'todo_list_new' %}">Create a new List</a>
    <a href="{% url 'todo_item_new' %}">Create a new Item</a>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Number of Items
                </th>
            </tr>
        </thead>
        <tbody>
            {% for list in todolist_list %}
            <tr>
                <td>
                    <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                </td>
                <td>
                    {{ list.items.all|length }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</main>

{% endblock content %}